.m-6{
  margin: 6rem !important;
}
.m-7{
  margin: 12rem !important;
}
.m-8{
  margin: 24rem !important;
}

.mt-6{
  margin-top: 6rem !important;
}
.mt-7{
  margin-top: 12rem !important;
}
.mt-8{
  margin-top: 24rem !important;
}


.mb-6{
  margin-bottom: 6rem !important;
}
.mb-7{
  margin-bottom: 12rem !important;
}
.mb-8{
  margin-bottom: 24rem !important;
}


@media (min-width: 576px) {

  
}

@media (min-width: 768px) {
  .mt-sm-6{
  margin-top: 6rem !important;
  }
  .mt-sm-7{
  margin-top: 12rem !important;
  }
  .mt-sm-8{
  margin-top: 24rem !important;
  }
}


@media (min-width: 992px) {
  
  
    /* MT */
    .mt-md-6{
      margin-top: 6rem !important;
    }
    .mt-md-7{
      margin-top: 12rem !important;
    }
    .mt-md-8{
      margin-top: 24rem !important;
    }
  
    /* MB */
    .mb-md-6{
      margin-bottom: 6rem !important;
    }
    .mb-md-7{
      margin-bottom: 12rem !important;
    }
    .mb-md-8{
      margin-bottom: 24rem !important;
    }
}

.mt-lg-6{
  margin-top: 6rem !important;
}
.mt-lg-7{
  margin-top: 12rem !important;
}
.mt-lg-8{
  margin-top: 24rem !important;
}
@media (min-width: 1200px) {
}


