/* SECTION */

/* Image */

section.experience > div.experience-container > div.row  .experience-cols > .img-container > img{
  width: 50%;
}


@media (min-width: 768px) {
  section.experience > div.experience-container > div.row  .experience-cols > .img-container > img{
    width: 80%;
  }
}


/* Paragraph */
section.experience > div.experience-container > div.row  .experience-cols > .experience-text > p{
  width:70%;
  font-size: 1rem;
  line-height: 1.2;
  word-wrap: break-word;
}

@media (min-width: 576px) { 
  section.experience > div.experience-container > div.row  .experience-cols > .experience-text > p{
    width:80%;
    font-size: 1.1rem;
  }
}
@media (min-width: 1200px) {
  section.experience > div.experience-container > div.row  .experience-cols > .experience-text > p{
    font-size: 1.3rem;
  }
}

/*Headding */
section.experience > div.experience-container > div.row  .experience-cols > .experience-text > h1{
  font-size: 1.25rem;
}
@media (min-width: 576px) { 
  section.experience > div.experience-container > div.row  .experience-cols > .experience-text > h1{
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) { 
  section.experience > div.experience-container > div.row  .experience-cols > .experience-text > h1{
    font-size: 1.75rem;
  }
}

@media (min-width: 992px) { 
  section.experience > div.experience-container > div.row  .experience-cols > .experience-text > h1{
    font-size: 2rem;
  }
}

@media (min-width: 1200px) { 
  section.experience > div.experience-container > div.row  .experience-cols > .experience-text > h1{
    font-size: 2.5rem;
  }
}

