/* SECTION */

/* Image */

section.experience > div.experience-container > div.row  .experience-cols > .img-container > img{
  width: 90%;
}


@media (min-width: 768px) {
  section.experience > div.experience-container > div.row  .experience-cols > .img-container > img{
    width: 80%;
  }
}


/* Paragraph */
section.experience > div.experience-container > div.row  .experience-cols > .experience-text > p{
  width:70%;
  font-size: 1rem;
  line-height: 1.2;
  word-wrap: break-word;
}
section.experience > div.experience-container > div.row  .experience-cols > .experience-text > p{
  width:90%;
  font-size: 1.1rem;
}

@media (min-width: 1200px) {
  section.experience > div.experience-container > div.row  .experience-cols > .experience-text > p{
    width:80%;
    font-size: 1.3rem;
  }
}
